version: "2"
services:


  remediate:
    image: wss-remediate:latest
    container_name: remediate-server
    environment:
      LOG_LEVEL: DEBUG
      MVN_USER: <username>
      MVN_PASS: <password>
      MVN_BASE_URL: https://<artifactory_instance>.jfrog.io/artifactory
      MVN_RELEASE: https://<artifactory_instance>.jfrog.io/artifactory/libs-release
      GRADLE_PLUGIN_REGISTRY: https://<artifactory_instance>.jfrog.io/artifactory/libs-snapshot # Should point to a Gradle Plugin Repository (https://plugins.gradle.org/m2/)
      GRADLE_PLUGIN_USER: <username>
      GRADLE_PLUGIN_PASS: <password>
    ports:
      - "8080:8080"
    volumes:
      - "/path/to/prop.json:/etc/usr/local/whitesource/conf/prop.json"
      - "/path/to/config.js:/usr/src/app/config.js"
    restart: always
    extra_hosts:
      - "repo.maven.apache.org:127.0.0.1"
      - "repo1.maven.apache.org:127.0.0.1"
      - "repo2.maven.apache.org:127.0.0.1"
      - "plugins.gradle.org:127.0.0.1"
    logging:
      driver: local
      options:
        max-size: 1m
        max-file: "5"


  app:
    image: wss-ghe-app:latest
    container_name: wss-ghe-app
    environment:
      LOG_LEVEL: DEBUG
    ports:
      - "9494:9494"
      - "5678:5678"
    volumes:
      - "/path/to/prop.json:/etc/usr/local/whitesource/conf/prop.json"
    depends_on:
      - remediate
    logging:
      driver: local
      options:
        max-size: 1m
        max-file: "5"


  scanner:
    image: wss-scanner:latest
    container_name: wss-scanner-ghe
    extra_hosts:
      - "repo.maven.apache.org:127.0.0.1"
      - "repo1.maven.apache.org:127.0.0.1"
      - "repo2.maven.apache.org:127.0.0.1"
      - "plugins.gradle.org:127.0.0.1"
    environment:
      WS_UA_LOG_IN_CONSOLE: true
      LOG_LEVEL: DEBUG
      MVN_USER: <username>
      MVN_PASS: <password>
      MVN_RELEASE: https://<artifactory_instance>.jfrog.io/artifactory/libs-release
      GRADLE_PLUGIN_REGISTRY: https://<artifactory_instance>.jfrog.io/artifactory/libs-snapshot # Same as above
      GRADLE_PLUGIN_USER: <username>
      GRADLE_PLUGIN_PASS: <password>
    ports:
      - "9393:9393"
    volumes:
      - "/path/to/prop.json:/etc/usr/local/whitesource/conf/prop.json"
      - "/path/to/gradle.properties:/home/wss-scanner/.gradle/gradle.properties" # Optional
      - "/path/to/init.gradle:/home/wss-scanner/.gradle/init.gradle" # Required
    restart: always
    depends_on:
      - app
    logging:
      driver: local
      options:
        max-size: 1m
        max-file: "5"


networks:
  default:
    name: my_bridge
    external: false
