<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Artifactory" value="%NUGET_REGISTRY%" />
  </packageSources>
  <packageSourceCredentials>
    <Artifactory>
        <add key="Username" value="%NUGET_USER%" />
        <add key="ClearTextPassword" value="%NUGET_PASS%" />
      </Artifactory>
  </packageSourceCredentials>
</configuration>
